@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5; 
    color: #4a4a4a; 
}

.container {
    max-width: 100%; 
    margin: 0 auto;
    padding: 0 20px; 
}

.header {
    background-color: #fff8ea; 
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    animation: fadeIn 1s ease; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: row; 
}

.header-left {
    flex: 1;
}

.header-right {
    display: flex;
    align-items: center ;
}

.logo img {

}

.menu {
    position: absolute;
    top: 20px;
    left: 0px;
    right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.navbar {
    margin-left: auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 10px;
}

.navbar ul li a {
    font-size: 14px;
    padding: 20px;
    color: #6635196e;
    transition: color 0.3s, transform 0.3s;
}

.navbar ul li a:hover {
    color: #c19a6b;
    transform: translateY(-2px);
}

#menu {
    display: none;
}

.header-txt {
    margin-bottom: 45px;
    margin-top: 100px;
    animation: slideInUp 0.5s ease;
}

.header-txt h1, 
.header-txt span {
    font-size: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #8b5a2b; 
    margin-bottom: 15px;
}

.header-txt span {
    font-size: 25px;
}

.header-txt p {
    color: #4a4a4a; 
    padding: 0 50px;
    margin: 25px 0;
    line-height: 1.6;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #8b5a2b;
    color: #FFFFFF; 
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 25px 0;
    border: 0;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-1:hover {
    background-color: #c19a6b;
    transform: scale(1.05);
}

.header-dir {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.dir h3 {
    font-size: 18px;
}

.dir p {
    font-size: 22px;
    color: #8b5a2b;
    text-transform: uppercase;
}

.welcome {
    display: flex;
    flex-direction: row;
}

.welcome-1 {
    background-image: url(img/LOGO_ECHALE_SABOR.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    animation: slideInLeft 0.5s ease;
    position: relative; 
}

.text-overlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    color: white; 
    padding: 20px; 
    text-align: center;
}

.welcome-2 {
    width: 50%;
    padding: 150px 50px;
    background-color: #d4c2a1; 
}

h2 {
    font-size: 90px;
    line-height: 100px;
    color: #4a4a4a; 
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #4a4a4a; 
    margin: 25px 0;
}

.services {
    padding: 100px 0;
    text-align: center;
}

.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 1px solid #c19a6b; 
    width: 80px;
}

.services-txt p {
    padding: 50px 20px;
}

.service-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 45px 0;
}

.services-1 {
    background-color: rgba(139, 89, 43, 0.69); 
    padding: 35px 25px;
    margin: 10px;
    border-radius: 15px;
    flex: 1 1 300px;
    transition: transform 0.3s;
}

.services-1:hover {
    transform: translateY(-5px);
}

.services-1 img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 15px;
}

.services-1 h3 {
    font-size: 25px;
    color: #FFFFFF; 
}

.prices {
    display: flex;
    flex-wrap: wrap;
}

.prices-1 {
    width: 50%;
    padding: 150px 50px;
    background-color: #d4c2a1; 
}

table {
    margin: 40px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #afafaf;
    transition: background-color 0.3s;
}

tr:hover {
    background-color: rgba(139, 89, 43, 0.1);
}

th {
    color: #4a4a4a; 
    padding-bottom: 15px;
}

td {
    color: #8b592b9c; 
}

.prices-2 {
    background-image: url(img/lista.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    animation: slideInLeft 0.5s ease;
    position: relative; 
}

.prices-2 .text-overlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    color: white; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.4);
}

.prices-2 h2 {
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
}

.prices-2 p {
    font-size: 18px;
    color: #fff;
    padding: 10px;
    line-height: 1.6;
}

.contacto {
    padding: 100px 0;
    text-align: center;
}

.contacto-container {
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px; 
    font-weight: bold;
}

input, textarea {
    margin: 5px;
    padding: 15px;
    width: 100%; 
    max-width: 400px; 
    background-color: #e2dbccf1; 
    border: 1px solid #8b5a2b; 
    outline: none;
    border-radius: 10px;
    color: #2b2a2a; 
    font-size: 14px;   
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #c19a6b;
}

textarea {
    height: 100px; 
}

.footer-bg {
    background-color: #c0ac93e3; 
    text-align: center;
    padding: 100px 0;
}
footer, footer * {
    color: #ffffff; 
}
.footer-txt {
    text-align: center;
    padding: 10px;
    background-color: #c19a6b; 
    color: #ffffff; 
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column; 
        text-align: center;
    }

    .header-left, .header-right {
        flex: none;
    }

    .header-txt h1, .header-txt span {
        font-size: 50px;
    }

    .header-dir {
        flex-direction: column; 
        text-align: center;
    }

    .welcome {
        flex-direction: column; 
        align-items: center;
    }

    .welcome-1 {
        width: 100%; 
        height: 300px;
        background-size: cover;
    }

    .welcome-2 {
        width: 100%;
        padding: 50px 20px;
    }

    .services {
        padding: 50px 20px; 
    }

    .service-group {
        flex-direction: column; 
        align-items: center;
    }

    .prices {
        flex-direction: column; 
    }

    .prices-1, .prices-2 {
        width: 100%; 
        padding: 20px; 
    }

    .prices-2 {
        height: 300px;
        background-size: cover;
        background-position: top; 
        display: flex;
        align-items: flex-start;
    }

    .contacto-container {
        width: 100%; 
        max-width: 100%;
    }

    .footer-txt {
        padding: 10px;
    }
}
